html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}
ul {
  list-style-type: none;
}

.sidebar {
  background-color: #e5ecef;
  padding: 20px;
  width: 200px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-data {
  margin-left: 220px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #2b2ecf;
  color: white;
}

caption {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.primary-btn {
  background: #e89a3c;
  color: white;
  padding: 13px;
  width: fit-content;
  border-radius: 6px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.primary-btn a,
.secondary-btn a {
  color: white;
  text-decoration: none !important;
}

.secondary-btn {
  background: #2b2ecf;
  color: white;
  padding: 15px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: large;
}
.secondary-btn:hover {
  background: #2b2ecfb1;
}

.sidebar h3 {
  color: #2b2ecf;
}
.no-overflow {
  max-height: 10px;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
